<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>music</title>
  <link rel="stylesheet" href="./css/index.css" />
  <link rel="stylesheet" href="./css/iconfont.css" />
  <link rel="stylesheet" href="./css/comment.css">
  <link rel="stylesheet" href="./css/results.css">
  <link rel="stylesheet" href="./css/player.css">
  <link rel="stylesheet" href="./css/video.css">
</head>

<body>
  <div id="player">
    <h2 class="title">音乐播放器</h2>
    <div class="search">
      <input type="text"/ v-model="songName" @keyup.enter="searchSong">
      <button @click="searchSong">
        <span class="iconfont icon-search"></span>
      </button>
    </div>
    <div class="tab-wrapper">

    </div>
    <!-- 对应的内容区域 -->
    <div class="tab-content">
      <router-view></router-view>
    </div>
  </div>

</body>

</html>
<script src="./lib/vue.js"></script>
<script src="./lib/vue-router.js"></script>
<script src="./lib/axios.js"></script>
<!-- results模板 -->
<script type="text/html" id="results">
  <div class="result-wrapper">
      <div class="song" v-for="item in songList">
        <div class="name">
          <span class="iconfont icon-play" @click="toPlayer(item)"></span>
            {{item.name}}
          <span class="iconfont icon-editmedia" v-if="item.mvid != 0 " @click='toMv(item.mvid)'></span>
        </div>
        <div class="singer">{{item.artists | formatName}}</div>
        <div class="album">《{{item.name}}》</div>
        <div class="time">{{item.duration | formatTime}}</div>
      </div>
    </div>
</script>
<!-- 播放界面模板 -->
<script type="text/html" id="musicPlayer">
    <div class="player">
      <div class="left">
        <img class='disc' src="./img/disc.png" alt="">
        <img class='cover' :src="detail.al.picUrl" alt="">
      </div>
      <div class="right">
        <div class="title"><img src="./img/tag.png" alt=""><span>{{detail.name}}</span> </div>
        <div class="singer">歌手: <span>{{detail.ar[0].name}}</span></div>
        <div class="album">所属专辑: <span>{{detail.al.name}}</span></div>
        <audio class='audio' controls  :src="songUrl"></audio>
        <ul class='lyric-container'>
          <li class='lyric'>难以忘记</li>
          <li class='lyric'>初次见你</li>
          <li class='lyric'>那双迷人的小眼睛</li>
        </ul>
      </div>
    </div>
  </script>
<script type="text/html" id=video>
  <div class="video">
    <div class="title-wrapper">
      <span class='tag'>MV</span>
      <span class='title'>{{mvData.name}}</span>
      <span class='artist'>{{mvData.artistName}}</span>
    </div>
    <video :src="mvData.brs[480]?mvData.brs[480]:mvData.brs[240]" controls></video>
  </div>
</script>
<script>
  //准备组件
  //results组件
  const results = {
    template: '#results',
    data() {
      return {
        //歌曲列表
        songList: [],
      }
    },
    methods: {
      getData() {
        let name = this.$route.params.songName
        axios.get(`https://autumnfish.cn/search?keywords=${name}`)
          .then((res) => {
            this.songList = res.data.result.songs
          })
      },

      toPlayer(item) {
        this.$router.push(`/musicPlayer/${item.id}`);
      },
      toMv(item){
        this.$router.push(`/video/${item}`)
      }
    },
    created() {
      this.getData()
    },
    filters: {

      formatName(value) {
        let str = "";
        //数组，就遍历一下
        for (let i = 0; i < value.length; i++) {

          str += value[i].name + "|";
        }

        // 去掉最后一个符号
        str = str.substr(0, str.length - 1);

        return str;
      },
      formatTime(value) {
        let sec = Math.round(value / 1000);
        let min = parseInt(sec / 60);

        sec = sec % 60;

        sec = sec < 10 ? "0" + sec : sec;
        return min + ':' + sec
      }

    },
    watch: {
      '$route.params.songName'() {
        // 当搜索关键字发生变化，就会来重新发请求加载数据
        this.getData();
      }
    }
  }
  //播放界面组件
  const player = {
    template: "#musicPlayer",
    data() {
      return {
        detail: {
          name: '',
          al: {},
          ar: [{}, {}],
        },

        songUrl: "",
      }
    },
    created() {
      let id = this.$route.params.id
      axios.get(`https://autumnfish.cn/song/detail?ids=${id}`)
        .then(res => {
          this.detail = res.data.songs[0]
        })

      axios.get(`https://autumnfish.cn/song/url?id=${id}`)
        .then(res => {
          this.songUrl = res.data.data[0].url;
        })
    },

  }
  //mv组件
  const mv ={
    template:"#video",
    data() {
      return {
        mvData:{
          name: '',
          artistName: '',
          brs: {}
        }
      }
    },
    created() {
      let mvid = this.$route.params.mvid;
      axios.get(`https://autumnfish.cn/mv/detail?mvid=${mvid}`)
        .then(res => {

          console.log(res);
          this.mvData = res.data.data;
        })
    },
  }
  //设置路由规则
  const routes = [
    { path: '/results/:songName', component: results },
    { path: '/musicPlayer/:id', component: player },
    { path: '/video/:mvid', component: mv },

  ]
  //创建路由规则
  const router = new VueRouter({
    routes
  })

  new Vue({
    el: '#player',
    data: {
      songName: '',
    },
    methods: {
      searchSong() {
        this.$router.push(`/results/${this.songName}`)
      }
    },
    router
  })
</script>